
body {
  background-color: #FFFACD;
  font-family: sans-serif;
}

button {
  width: 86px;
}

#notes, #tags, textarea {
  padding: 5px;
}

#note_tag {
  padding-bottom: 5px;
}

#data { /* container */
  width: 40%;
  display: grid;
  grid-template-columns: 32% auto;
  grid-template-rows: auto auto 150px 22px auto;
  grid-gap: 5px;
  visibility: hidden;
}

#cbx-tagging {
  margin: 5px;
}

#notes {
  --notes-grid-row-span: span 3;
  grid-row: var(--notes-grid-row-span);
}

#notes.short {
  --notes-grid-row-span: span 1;
}

#content { /* textarea */
  font-size: 1.2em;
  grid-row: span 3;
  resize: none;
  margin: 0;
  height:500px;
}

#note-buttons {
  grid-column-start: 2;
}

#btn-auth {
  width: 100px;
  margin-bottom: 5px;
}
