<!doctype html>
<html>
<head>
  <title>Notes-Client</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id='app-content'>
    <h2>Notes-Client</h2>
    <div v-if='unauthorized'><button id='btn-auth' v-on:click='startAuth()'>Authorization</button></div>
    <div id='data' :style='showWhenReady'>
      <select id='sorting' v-on:change='changeSorting'>
        <option>Sort mtime</option>
        <option>Sort title</option>
        <option>Sort favorite</option>
      </select>
      <div>
        <input id='cbx-tagging' type='checkbox' v-model='tagging'
               v-on:change='changeTagging()'>Enable tagging
        </input>
      </div>
      <select id='notes' multiple :class="{ short: tagging }">
        <option v-on:click='selectNote(note.id)'
          v-for='note in notelist' :key='note.id' :value='note.id'>
          {{ note.title }}
        </option>
      </select>
      <textarea id='content' v-model='content'></textarea>
      <select  v-if='tagging' id='tags' size='5'>
        <option v-on:click='loadNotes(tag.id)'
          v-for='tag in taglist' :key='tag.id' :value='tag.id'>
          {{ tag.name }}
        </option>
      </select>
      <input  v-if='tagging' list='systemtags' id='tag-search' placeholder='Tagname' v-model='tagname' v-on:change='search()'/>
      <datalist id='systemtags'>
        <option v-for='tag in systaglist' :key='tag.id' :value='tag.name'/>
      </datalist>
      <div  v-if='tagging' id='tag-buttons'>
        <button id='tag-search-btn-add' v-on:click='tagNote()'>Tag</button>
        <button id='tag-search-btn-del' v-on:click='untagNote()'>{{ deleteMode ? 'Delete' : 'Untag' }}</button>
      </div>
      <div id='note-buttons'>
        <button id='note-save' v-on:click='saveNote()'>Save</button>
        <button id='note-new' v-on:click='newNote()'>New</button>
        <button id='note-del' v-on:click='deleteNote()'>Delete</button>
        <input type='checkbox' id='note_fav' v-model='favorite'>Favorite</input>
      </div>
    </div>
  </div><!-- app-content -->
  <script src='vendor/vue.js'></script>
  <script type='module' src='js/index.js'></script>
</body>
